db*/
.venv/
venv/
.idea/
**/_temp*/
patch_store/
**/.os
**/*.bin
log.txt*
logs/
__pycache__/
poc/
.env

db
_temp

.vs/
x64/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*/[Bb]in/
*/[Oo]bj/
[Oo]ut/
[Ll]og/
*.o
*.obj
*.pch
*.lib
*.dll
*.exe